<div class="card">
  <div class="card-body p-4">
    <form class="row g-3">
      <div class="col-md-12">
        <label for="input13" class="form-label">Nome</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input13" placeholder="Nome">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-user'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input15" class="form-label">Documento</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input15" placeholder="Documento">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-archive'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input16" class="form-label">Email</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input16" placeholder="Email">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-envelope'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input18" class="form-label">Telefone</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input18" placeholder="Telefone">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-phone-call'></i></span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="input22" class="form-label">CEP</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input22" placeholder="CEP">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-pin'></i></span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="input21" class="form-label">Estado</label>
        <select id="input21" class="form-select">
          <option selected>Choose...</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="input20" class="form-label">Cidade</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input20" placeholder="Cidade">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-buildings'></i></span>
        </div>
      </div>
      <div class="col-md-7">
        <label for="input20" class="form-label">Logradouro</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input20" placeholder="Ex: Rua da Silva">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-buildings'></i></span>
        </div>
      </div>
      <div class="col-md-2">
        <label for="input20" class="form-label">Numero</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input20" placeholder="Ex: 2131">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-buildings'></i></span>
        </div>
      </div>
      <div class="col-md-3">
        <label for="input20" class="form-label">Complemento</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input20" placeholder="Ex: bloco/apto">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-buildings'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-md-flex d-grid align-items-center gap-3">
          <button type="button" class="btn btn-primary px-4">Enviar</button>
          <button type="button" class="btn btn-light px-4">Voltar</button>
        </div>
      </div>
    </form>
  </div>
</div>