<div class="card">
  <div class="card-body p-4">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="input13" class="form-label">First Name</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input13" placeholder="First Name">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-user'></i></span>
        </div>
      </div>
      <div class="col-md-6">
        <label for="input14" class="form-label">Last Name</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input14" placeholder="Last Name">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-user'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input15" class="form-label">Phone</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input15" placeholder="Phone">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-microphone'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input16" class="form-label">Email</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input16" placeholder="Email">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-envelope'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input17" class="form-label">Password</label>
        <div class="position-relative input-icon">
          <input type="password" class="form-control" id="input17" placeholder="Password">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-lock-alt'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input18" class="form-label">DOB</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input18" placeholder="DOB">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-calendar'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input19" class="form-label">Country</label>
        <select id="input19" class="form-select">
          <option selected>Choose...</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="input20" class="form-label">City</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input20" placeholder="City">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-buildings'></i></span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="input21" class="form-label">State</label>
        <select id="input21" class="form-select">
          <option selected>Choose...</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="input22" class="form-label">Zip</label>
        <div class="position-relative input-icon">
          <input type="text" class="form-control" id="input22" placeholder="Zip">
          <span class="position-absolute top-50 translate-middle-y"><i class='bx bx-pin'></i></span>
        </div>
      </div>
      <div class="col-md-12">
        <label for="input23" class="form-label">Address</label>
        <textarea class="form-control" id="input23" placeholder="Address ..." rows="3"></textarea>
      </div>
      <div class="col-md-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="input24">
          <label class="form-check-label" for="input24">Check me out</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-md-flex d-grid align-items-center gap-3">
          <button type="button" class="btn btn-primary px-4">Submit</button>
          <button type="button" class="btn btn-light px-4">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>