<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <h4 class="mb-0 text-uppercase">Editar cliente</h6>
    </div>
    <!--end breadcrumb-->
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <%= render 'form' %>
      </div>
    </div>
    <!--end row-->
  </div>
</div>