# MERCADO PAGO
MP_TEST_ACCESS_TOKEN='TEST_ACCESS_TOKEN_EXAMPLE' # token de acesso para ambiente de testes
MP_PRODUCTION_ACCESS_TOKEN='APP_USR_PRODUCTION_ACCESS_TOKEN_EXAMPLE' # token de acesso para ambiente de producao
MP_PUBLIC_KEY='APP_USR_PUBLIC_KEY_EXAMPLE' # chave publica para ambiente de producao
MP_PUBLIC_KEY_TEST='TEST_PUBLIC_KEY_EXAMPLE' # chave publica para ambiente de testes
MP_WEBHOOK_SECRET='WEBHOOK_SECRET_EXAMPLE' # secret para validacao de webhooks

RAILS_ENV=development # production para aws, development para local
POSTGRES_DB=catalyst_ops_development # nome do banco de dados tendo o sufixo _development, ou _production
POSTGRES_USER=user_database # nome do usuario do banco de dados
POSTGRES_PASSWORD=pass_database # senha do banco de dados
POSTGRES_PORT=XXXX # porta do banco de dados

REDIS_PORT=XXXX # porta do redis

WEB_PORT=3000 # porta onde a aplicacao ira rodar

RAILS_LOG_TO_STDOUT=true # definir como true para logs no stdout (docker), false para logs em arquivo (local)
RAILS_MASTER_KEY='your_rails_master_key_here' # chave mestre do rails, encontrada no arquivo config/master.key
SECRET_KEY_BASE='your_secret_key_base_here' # chave secreta do rails, pode ser gerada com `bin/rails secret`

PRECOMPILE_ASSETS=0 # definir como 1 para precompilar assets na build do docker (recomendado para prod), 0 para nao precompilar (recomendado para dev)
ASSETS_SECRET_KEY_BASE='your_assets_secret_key_base_here' # chave secreta usada para precompilar assets, pode ser gerada com `bin/rails secret`

MAILER_FROM='your_mailer_from_here' # email padrão para envio de emails

APP_HOST='your_app_host_here' # host da aplicacao, ex: app.catalystops.com.br
APP_PROTOCOL='https' # protocolo da aplicacao, ex: https

SMTP_ADDRESS='smtp.your_email_provider.com' # endereco do servidor SMTP
SMTP_PORT=587 # porta do servidor SMTP
SMTP_DOMAIN='your_email_domain.com' # dominio do servidor SMTP
SMTP_USER_NAME='your_smtp_username' # nome de usuario para autenticacao SMTP
SMTP_PASSWORD='your_smtp_password' # senha para autenticacao SMTP
SMTP_AUTHENTICATION='login' # metodo de autenticacao SMTP, ex: login, plain, cram_md5
SMTP_ENABLE_STARTTLS_AUTO=true # definir como true para usar STARTTLS automaticamente