services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: catalyst_ops_development
    ports:
      - "5432:5432"
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

  web:
    build: .
    volumes:
      - .:/rails
      - ./storage:/rails/storage
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/catalyst_ops_development
      RAILS_ENV: development
    command: sh -c "bundle install && bin/rails server -b 0.0.0.0"
    stdin_open: true
    tty: true

  nginx:
    image: nginx:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/ssl.crt:/etc/nginx/ssl/ssl.crt
      - ./docker/nginx/ssl.key:/etc/nginx/ssl/ssl.key
    depends_on:
      - web
