<div class="page-wrapper">
  <div class="page-content">
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>Novo Artigo</h2>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>