<!-- filepath: /Users/devbatista/devbatista/projetos/ruby/devbatista/admin/app/views/dashboard/_sidebar.html.erb -->
<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <%= image_tag 'logo-img.png', class: "logo-icon", alt: "logo icon" %>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="/">
        <div class="parent-icon"><i class='bx bx-home-alt'></i></div>
        <div class="menu-title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-user'></i>
        </div>
        <div class="menu-title">Clientes</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-edit'></i>
        </div>
        <div class="menu-title">Ordens de Serviço</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-run'></i>
        </div>
        <div class="menu-title">Técnicos</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-vector'></i>
        </div>
        <div class="menu-title">Itens de Serviço</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-archive'></i>
        </div>
        <div class="menu-title">Anexos</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-file'></i>
        </div>
        <div class="menu-title">Relatórios</div>
      </a>
    </li>
    <li>
      <a href="form-froala-editor.html">
        <div class="parent-icon"><i class='bx bx-log-out'></i>
        </div>
        <div class="menu-title">Logout</div>
      </a>
    </li>
    <li>
      <a href="https://themeforest.net/user/codervent" target="_blank">
        <div class="parent-icon"><i class="bx bx-support"></i>
        </div>
        <div class="menu-title">Support</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</div>