<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <h4 class="mb-0 text-uppercase">Editar cupom</h4>
        </div>
        <div class="card">
          <div class="card-body">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
