<%= turbo_frame_tag "attachments_#{order_service.id || 'new'}" do %>
  <% if order_service.persisted? && order_service.attachments.attached? %>
    <div class="mt-2">
      <strong>Anexos atuais:</strong>
      <ul>
        <% order_service.attachments.each do |attachment| %>
          <% next unless attachment.persisted? %>
          <li>
            <%= link_to attachment.filename, url_for(attachment), target: "_blank" %>
            <%= link_to purge_attachment_app_order_service_path(order_service, attachment_id: attachment.id),
              method: :delete,
              data: { confirm: "Tem certeza que deseja remover este anexo?" },
              title: "Remover" do %>
              <i class="bx bx-trash"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>