<% if order_service.persisted? && order_service.attachments.attached? %>
  <div class="mt-2" id="attachments-list">
    <strong>Anexos atuais:</strong>
    <ul data-order-service-id="<%= order_service.id %>">
      <% order_service.attachments.each do |attachment| %>
        <% next unless attachment.persisted? %>
        <li data-attachment-id="<%= attachment.id %>">
          <%= link_to attachment.filename, url_for(attachment), target: "_blank" %>
          <%= button_tag type: "button",
            class: "js-mark-remove-attachment btn btn-link p-0 ms-2",
            data: {
              attachment_id: attachment.id,
              confirm: "Tem certeza que deseja remover este anexo? A remocao sera aplicada ao salvar."
            },
            title: "Marcar para remocao" do %>
            <i class="bx bx-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
