<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <h4 class="mb-0 text-uppercase">Editar Ordem de Serviço</h6>
    </div>

    <% if @order_service.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <!--end breadcrumb-->
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <%= render 'form' %>
      </div>
    </div>
    <!--end row-->
  </div>
</div>